* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  

  a {
    text-decoration: none;
  }

  nav {
    display: flex;
    width: 100%;
    height: 50px;
    align-items:center;
    justify-content: space-between;
    position: fixed;
    background-color: #0a0a0a;    
  }

  nav ul li {
    list-style: none;
    display: inline-block;
    padding: 100px 20px;  
  }

  nav ul li a {
    color:#fff;
    position: relative;
    padding: 5px 0;
  }

  nav ul li a:hover {
    color: #fd4766;
  }
  nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #fd4766;
    transition: 0.3s;
    bottom: 0;
  }
  nav ul li a:hover:after {
    width: 100%;
  }

  .content3{
    margin-left: 100px;
}

.content3 p{
    width: 55%;
    color: #202020;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  .content3 .title {
    color: #0a0a0a;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 200px;
    background: linear-gradient(
      120deg,
      #1c99fe 20.69%,
      #5959b4 50.19%,
      #fd4766 79.69%
    ); 
  }

  .content3 h1 {
    color: #1f1f25;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
  }

  .content3 h1 span {
    color: #fd4766;
  }


  .btn {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
  }

  .btn:hover {
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
  }

  .content1{
    margin-left: 100px;
    /* margin-top: 200px; */
    
    
    
}

  .content1 h1 {
    color: #1f1f25;
    font-size: 75px;
    font-weight: 900;
    /* line-height: 90px; */
    text-transform: inherit;
    width: 70%;

  }


  .content1 p {
    width: 55%;
    color: #202020;
    margin-top: 25px;
    margin-bottom: 30px;
  }


.container h1 {
    color: #1f1f25;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    /* text-transform: inherit; */
    width: 70%;
  }

  .data{
    width: 700px;
    height:30px;
}
  

  html {
    scroll-behavior: smooth;
  }

  
  .site-footer {
    background-color: #838383;
      text-align: center;
      padding: 10px 0;
  }
  
  #social-wrapper {
      text-align: center;
  }
  

  .social-wrapper {
      text-align: center;
  }
  
  .social-wrapper ul li {
      display: inline;
      margin: 0 5px;
  }
  
  .twitter-icon,
  .facebook-icon,
  .instagram-icon,
  .linkedin-icon,
  .googleplus-icon,
  .youtube-icon,
  .foursquare-icon{
      margin-top: .625em;
      width: 40px;
      height: 40px;
      opacity: .6;
      filter: alpha(opacity=60); 
    border-radius: 25px;
  }
  
  .twitter-icon:hover,
  .facebook-icon:hover,
  .instagram-icon:hover,
  .linkedin-icon:hover,
  .googleplus-icon:hover,
  .youtube-icon:hover,
  .foursquare-icon:hover {
      opacity: 1.0;
      filter: alpha(opacity=100); 
  }
  
  .footer-nav p {
      text-align: center;
  }

  #projects{
    display: flex;
    flex-direction: column;
    padding: 20px;

  }

  .row{
    display: flex;
  }

  .box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(255, 45, 45) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
  }

  .box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(255, 45, 45);

  }

  .Headings1 {
    color: #1f1f25;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
  

  }

  .headings{
    text-align: center;
  }